{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/contact.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('./css/base.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="main">
    <div class="container">
        <h1>Nous contacter</h1>
        <div class="form">
            {{ form_start(form) }}
            <div>
                <div>
                    <label for="email">Email: </label>
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    <label for="sujet">Sujet: </label>
                    {{ form_widget(form.subject) }}
                </div>
                <div>
                    <label for="message">Message: </label>
                    {{ form_widget(form.message) }}
                </div>
                <div>
                    {{ form_widget(form.security) }}
                </div>
                <div>
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
            
        </div>
    </div>
</div>
{% endblock %}
